// P&S
$primary: #1d2d44;
$secondary: #31495e;

// Grayscale
$gray90: #595959;
$gray70: #7f7f7f;
$gray50: #a5a5a5;
$gray30: #cccccc;
$gray10: #f2f2f2;

// B&W

$black: #020202;
$white: #f2f8f4;
